.l-jumbo {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.l-jumbo > * + * {
  margin-top: 1rem;
  max-width: 100vw;
  
  @media (min-width: $bp-container) {
    max-width: 65vw;
  }
}
